/*-------------------------------------------------------------------------------------
//-- File. . . :  style.css
//-- Bevat . . :  Template voor de  stylesheet voor respec  
//--              Gebaseerd op https://github.com/Geonovum/respec/wiki
//--              Deze file mag worden neergezet in de root-directory van de 
//--              betreffende standaard, maar ook 1 niveau lager in de map "media"
//--              gedefinieerde stijlen overschrijven de default stijlen.  
//-- Door. . . :  Jan van Gelder
//-------------------------------------------------------------------------------------
//-------------------------------------------------------------------------------------
//-- Log . . . :  20181009 - JvG - Initiele versie 
//-----------------------------------------------------------------------------------*/

/*--Botters: per specStatus: custom doc status / banner (left-side) for Omgevingswet , choose the one needed */
body 
{
  font-family:  'RO Sans', Arial, Sans-serif !important;
}

/*-- Definitie van Image ------------------------------------------------------------*/
img 
{
  max-width: 100%;
  height: auto;
  width: auto;
}

/*-- Definite van het  Logo bovenaan Respec document -------------------------------*/
img#TopLogo
{
  width:400px;
  height: 100px;
}

/*-- Definite van tabellen ---------------------------------------------------------*/
table
{
  empty-cells: show;
  min-width: 90%;
  border-color: lightgray;
  border-style: none;
}

/*-- Definite van de kopregel van een tabel ----------------------------------------*/
thead
{
  background-color: darkblue;
  color:white;
}
/*-- Definite van de body van een tabel --------------------------------------------*/
tbody
{
  border-color: lightsteelblue;
  background-color: lightskyblue;
  padding: 0 1em;
}

/*-- Definite van de tabel-rij (deze zorgt voor 2 kleuren in de rijen) -------------*/
tr:nth-child(even) 
{
  background-color: lightblue;
}

/*-- Definite van de tabel-cel (data) ----------------------------------------------*/
td 
{
  min-width: 100px;     /* lege kolommen hebben deze minimale breedte */
}

/*-- Definite van rode tekst -------------------------------------------------------*/
r
{
  color: red;
}

/*-- Definite quote Henk Hulst -----------------------------------------------------*/
.hhulst
{
  font-family: 'Esteban', serif;
  font-style: italic;
  border-color: lightskyblue;
  border-style: solid;
  background-color:darkcyan !important;
  color:white;
  padding: 0 1em;
  margin-top: 1.5em;
}

.hhulst::before 
{
  content: "Uit de memoires van Henk Hulst:";
  padding-right: 8px;
  color: lightskyblue; /* Or a color you prefer */
}